<div class="auth-bg">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="custom-form">

        <app-input-validation
          field="username" placeholder="Username"
          type="email" [inputForm]="form">
        </app-input-validation>
        <app-input-validation
          field="password" placeholder="Password"
          type="password" [inputForm]="form">
        </app-input-validation>
        <div class="button-box">
          <button routerLink="/auth/signup" mat-button color="primary">Sign up</button>
          <button type="submit" id="submit" mat-raised-button color="primary">Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>

